.title {
  font-size: 16px;
  line-height: 19px;
  color: #1d77e5;
  text-transform: uppercase;
  display: block;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 64px;
  line-height: 75px;
  color: #231f20;
  text-transform: none;
  display: block;
  margin-top: 10px;
}

.subtitle--blue {
  font-size: 64px;
  line-height: 75px;
  background-color: #1d77e5;
  color: #fff;
  padding: 5px;
  text-transform: none;
}

body {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.title, .main__button {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.top-header__address, .top-header__contacts-list {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav-list {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.subtitle, .subtitle--blue, .main__title {
  font-family: "Noah-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("/fonts/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noah-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Noah-Regular.woff2") format("woff2"), url("/fonts/Noah-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noah-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Noah-Bold.woff2") format("woff2"), url("/fonts/Noah-Bold.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/CeraPro-Medium.woff2") format("woff2"), url("/fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 35px;
}

.top-header__address {
  padding-left: 45px;
  padding-right: 18px;
  position: relative;
  font-size: 14px;
  line-height: 17px;
}

.top-header__address::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 33px;
  top: -webkit-calc(50% - 16px);
  top: calc(50% - 16px);
  left: 0;
  background-image: url("/images/pin.svg");
}

.top-header__address::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  top: -webkit-calc(50% - 3px);
  top: calc(50% - 3px);
  right: 0;
  background-image: url("/images/select.svg");
}

.top-header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__contacts-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  line-height: 17px;
  margin-left: 18px;
}

.top-header__whatsapp {
  margin-right: 18px;
}

.top-header__callback svg path {
  fill: linear-gradient(131.58deg, #62a9ff 16.37%, #338bf8 39.03%, #1d77e5 82.29%);
}

.top-header__logo {
  margin: 0 10px;
}

.top-header__email {
  margin-bottom: 5px;
}

.top-header__email,
.top-header__phone {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__email:hover,
.top-header__phone:hover {
  color: #1d77e5;
}

.top-header__whatsapp {
  width: 34px;
  height: 34px;
  background-image: url("/images/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-header__whatsapp:hover {
  background-image: url("/images/whatsapp-hover.svg");
}

.top-header__callback {
  width: 34px;
  height: 34px;
  background-image: url("/images/callback.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-header__callback:hover {
  background-image: url("/images/callback-hover.svg");
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #727070;
  text-transform: uppercase;
}

.nav-list__item + .nav-list__item {
  margin-left: 5px;
}

.nav-list__item {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.nav-list__item:hover {
  color: #1d77e5;
  text-decoration: underline;
}

.main {
  padding-top: 59px;
  padding-bottom: 158px;
  position: relative;
}

.main::before {
  position: absolute;
  content: "";
  width: 165px;
  height: 170px;
  bottom: 25%;
  left: -5%;
  background-image: url("/images/main-item-1.png");
  background-repeat: no-repeat;
  z-index: 100;
}

.main::after {
  position: absolute;
  content: "";
  width: 265px;
  height: 265px;
  bottom: 5%;
  right: -22px;
  background-image: url("/images/main-item-2.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__inner {
  position: relative;
}

.main__text {
  background: rgba(239, 239, 239, 0.6);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  width: 54%;
  height: 80%;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 10;
  padding-left: 8.4em;
  padding-top: 4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__img {
  width: 885px;
  height: 591px;
  display: block;
  margin-left: auto;
}

.main__title {
  font-size: 20px;
  line-height: 25px;
  color: #1d77e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__subtitle {
  font-size: 80px;
  line-height: 84px;
  color: #231f20;
}

.main__subtitle--blue {
  margin-top: 22px;
  color: #fff;
  background-color: #1d77e5;
  padding: 5px 20px;
  position: relative;
}

.main__subtitle--blue::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -38%;
  width: 232px;
  height: 100%;
  background-image: url("/images/main-title-bg.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__buttons {
  margin-top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main__button {
  padding: 20px 5px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  display: block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.main__button--order {
  background-color: #1d77e5;
  color: #fff;
  width: 50%;
  border: 3px solid #1d77e5;
}

.main__button--order:hover {
  background-color: #0d5ab9;
  border: 3px solid #0d5ab9;
}

.main__button--calc {
  background-color: #fff;
  width: 50%;
  border: 3px solid #fff;
}

.main__button--calc:hover {
  color: #1d77e5;
  border: 3px solid #1d77e5;
}

.features__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  border-top: 0.5px solid #231f20;
  border-left: 0.5px solid #231f20;
}

.features__item {
  border-right: 0.5px solid #231f20;
  border-bottom: 0.5px solid #231f20;
}
