body {
  font-family: "Open-Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open-Sans-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Open-Sans-Regular.woff2") format("woff2"), url("/fonts/Open-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open-Sans-Boldold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Open-Sans-Boldold.woff2") format("woff2"), url("/fonts/Open-Sans-Boldold.woff") format("woff");
}

@font-face {
  font-family: "Open-Sans-Black";
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Open-Sans-Black.woff2") format("woff2"), url("/fonts/Open-Sans-Black.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.34;
  color: #000;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
