.title {
  font-size: 16px;
  line-height: 19px;
  color: #1d77e5;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 64px;
  line-height: 75px;
  color: #231f20;
  text-transform: none;
  display: block;
  margin-top: 10px;
}

.subtitle--blue {
  font-size: 64px;
  line-height: 75px;
  background-color: #1d77e5;
  color: #fff;
  padding: 5px;
  text-transform: none;
}

body, .features__item-subtitle, .services__item-subtitle, .rates__item-time,
.rates__item-price, .accordion__list-subtitle {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.addresses__list-address {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.title, .main__button, .rates__item-text, .rates__item-link, .rates__more-link, .accordion__list-item, .accordion__link, .clients__item-link, .form-contacts__btn {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.address-list__item, .top-header__contacts-list, .dropdown-navlist__link, .rates__info, .rating__text, .item-feedback__text, .about__list, .player__time, .player__duration, .footer {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav-list {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.feedback__link {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.subtitle, .subtitle--blue, .main__title, .features__item-title, .promo__title, .services__items-title, .services__item-title, .rates__item-title, .rates__more-text, .accordion__title, .rating__number, .rate, .author__name, .about__text, .info-contacts, .addresses__list-number, .social__list-item, .form-contacts__title {
  font-family: "Noah-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.form-contacts__input,
.form-contacts__textarea, .form-contacts__text {
  font-family: "CeraPro-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.addresses__list-item {
  font-family: "CeraPro-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("/fonts/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noah-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Noah-Regular.woff2") format("woff2"), url("/fonts/Noah-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noah-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Noah-Bold.woff2") format("woff2"), url("/fonts/Noah-Bold.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/CeraPro-Medium.woff2") format("woff2"), url("/fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.17;
  color: #231f20;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 25px;
}

.address-list__item {
  padding-left: 45px;
  padding-right: 18px;
  position: relative;
  font-size: 14px;
  line-height: 17px;
}

.address-list__link:hover {
  z-index: 10;
  color: #1d77e5;
}

.address-list__item::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 33px;
  top: -webkit-calc(50% - 16px);
  top: calc(50% - 16px);
  left: 0;
  background-image: url("/images/pin.svg");
}

.address-list__item::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  right: 0;
  background-image: url("/images/dropdown-right.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.address-list {
  position: relative;
  z-index: 1;
}

.address-list:hover::before,
.address-list:focus-within::before {
  position: absolute;
  content: "";
  left: -10px;
  right: -10px;
  top: -15px;
  bottom: 0;
  background-color: none;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  height: 90px;
}

.address-list:hover .address-list__item::after,
.address-list:focus-within .address-list__item::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.address-list__item {
  position: relative;
  z-index: 1;
}

.address-dropdown {
  display: none;
  position: absolute;
  left: 45px;
  right: 18px;
  bottom: -45px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.address-dropdown__item {
  position: relative;
}

.address-dropdown__item::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #fff;
  top: -12px;
  left: -55px;
  right: -28px;
}

.address-list:hover .address-dropdown {
  display: block;
}

.address-list:focus-within .address-dropdown {
  display: block;
}

.address-list__item {
  z-index: 1;
}

.top-header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__contacts-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  line-height: 17px;
  margin-left: 18px;
}

.top-header__whatsapp {
  margin-right: 18px;
}

.top-header__logo {
  margin: 0 10px;
}

.top-header__email {
  margin-bottom: 5px;
}

.top-header__email,
.top-header__phone {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__email:hover,
.top-header__phone:hover {
  color: #1d77e5;
}

.top-header__whatsapp {
  width: 34px;
  height: 34px;
  background-image: url("/images/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__whatsapp:hover {
  background-image: url("/images/whatsapp-hover.svg");
}

.top-header__callback {
  width: 34px;
  height: 34px;
  background-image: url("/images/callback.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__callback:hover {
  background-image: url("/images/callback-hover.svg");
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #727070;
  text-transform: uppercase;
}

.nav-list__item + .nav-list__item {
  margin-left: 5px;
}

.nav-list__item {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  position: relative;
  z-index: 60;
}

.nav-list__link {
  padding: 10px 0;
  z-index: 60;
  display: block;
}

.nav-list__link:hover {
  color: #1d77e5;
  text-decoration: underline;
}

.nav-list__item--dropdown {
  position: relative;
}

.nav-list__link--dropdown {
  padding-right: 18px;
}

.nav-list__item--dropdown::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  top: 14px;
  right: 0;
  background-image: url("/images/dropdown-right.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: -1;
}

.dropdown-navlist {
  display: none;
  position: absolute;
  top: 35px;
  bottom: -75px;
  left: -10px;
  right: -150px;
  z-index: 60;
  background: #eeeeee;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.dropdown-navlist--shin {
  bottom: -195px;
}

.nav-list__item--dropdown:hover .dropdown-navlist,
.nav-list__item--dropdown:focus-within .dropdown-navlist {
  display: block;
}

.nav-list__item--dropdown:hover::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.dropdown-navlist__link {
  text-transform: none;
  font-size: 14px;
  display: block;
  position: relative;
  padding: 10px;
}

.dropdown-navlist__link::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
}

.dropdown-navlist__link:first-child:before {
  height: 0;
}

.main {
  margin-top: 50px;
  padding-top: 44px;
  margin-bottom: 158px;
  padding-bottom: 158px;
  position: relative;
  background-image: url("/images/main-img.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  -webkit-background-size: contain;
          background-size: contain;
}

.main::before {
  position: absolute;
  content: "";
  width: 165px;
  height: 170px;
  bottom: 20%;
  left: -5%;
  background-image: url("/images/main-item-1.png");
  background-repeat: no-repeat;
  z-index: 100;
}

.main::after {
  position: absolute;
  content: "";
  width: 265px;
  height: 265px;
  right: -128px;
  background-image: url("/images/main-item-2.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__text {
  position: relative;
  background: rgba(239, 239, 239, 0.6);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  width: 54%;
  margin-right: auto;
  z-index: 10;
  padding-left: 8.4em;
  padding-top: 4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 87px;
  color: #1d77e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 560px;
}

.main__subtitle {
  font-size: 80px;
  line-height: 84px;
  color: #231f20;
}

.main__subtitle--blue {
  margin-top: 22px;
  color: #fff;
  background-color: #1d77e5;
  padding: 5px 20px;
  position: relative;
}

.main__subtitle--blue::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -195px;
  width: 232px;
  height: 100%;
  background-image: url("/images/main-title-bg.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__buttons {
  margin-top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main__button {
  padding: 20px 5px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  display: block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.main__button--order {
  background-color: #1d77e5;
  color: #fff;
  width: 50%;
  border: 3px solid #1d77e5;
}

.main__button--order:hover {
  background-color: #0d5ab9;
  border: 3px solid #0d5ab9;
}

.main__button--calc {
  background-color: #fff;
  width: 50%;
  border: 3px solid #fff;
}

.main__button--calc:hover {
  color: #1d77e5;
  border: 3px solid #1d77e5;
}

.features__inner {
  padding-bottom: 100px;
  background-image: url("/images/features-bg.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 485px 299px;
          background-size: 485px 299px;
  background-position: 100% 95%;
}

.features__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  border-top: 0.5px solid rgba(35, 31, 32, 0.5);
  border-left: 0.5px solid rgba(35, 31, 32, 0.5);
}

.features__item {
  border-right: 0.5px solid rgba(35, 31, 32, 0.5);
  border-bottom: 0.5px solid rgba(35, 31, 32, 0.5);
  padding: 30px;
}

.features__item-img {
  width: 80px;
  height: 80px;
}

.features__item-img {
  margin-bottom: 25px;
}

.features__item-title {
  font-size: 24px;
  line-height: 24px;
}

.features__item-subtitle {
  margin-top: 15px;
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.promo__inner {
  background-image: url("/images/promo-bg.svg");
  background-position: 87% 70%;
  -webkit-background-size: 75% 89%;
          background-size: 75% 89%;
  background-repeat: no-repeat;
}

.promo__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__title {
  margin: 0;
  margin-top: 27px;
  font-size: 64px;
  line-height: 57px;
  max-width: 480px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #231f20;
}

.promo__left,
.promo__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__left {
  margin-right: 27px;
}

.promo__left-img {
  height: 346px;
  overflow: hidden;
}

.promo__right-img {
  overflow: hidden;
}

.promo__right-img:first-child {
  margin-bottom: 27px;
  height: 265px;
}

.promo__right-img:nth-child(2) {
  height: 318px;
}

.services {
  padding-top: 100px;
}

.services__title {
  margin-bottom: 80px;
}

.services__description {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 56px;
  line-height: 1.3;
  margin-bottom: 21px;
}

.services__description-img {
  display: inline-block;
  margin-bottom: -10px;
}

.services__items-title {
  font-size: 114px;
  line-height: 1.17;
  text-align: center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #231f20;
  margin: 0;
  margin-bottom: -40px;
}

.services__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  -webkit-flex-basis: 49%;
      -ms-flex-preferred-size: 49%;
          flex-basis: 49%;
  overflow: hidden;
}

.services__item-title {
  font-size: 48px;
  line-height: 1.17;
  margin: 33px 0 50px;
}

.services__item-subtitle {
  display: block;
  font-size: 24px;
  line-height: 1.17;
  margin-top: 15px;
}

.services__img {
  height: 446px;
  overflow: hidden;
}

.rates__title {
  margin-bottom: 20px;
}

.rates__info {
  font-size: 20px;
  line-height: 1.4;
}

.rates__info--underline {
  position: relative;
}

.rates__info--underline::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #231f20;
}

.rates__items {
  margin-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 60px;
}

.rates__item {
  text-align: right;
  padding: 40px;
  color: #fff;
  position: relative;
}

.rates__item--express {
  background-color: #1d77e5;
}

.rates__item--bronze {
  background-color: #b26456;
}

.rates__item--silver {
  background-color: #858585;
}

.rates__item--gold {
  background-color: #cf9e44;
}

.rates__item--express::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-1.png");
}

.rates__item--bronze::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-2.png");
}

.rates__item--silver::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-3.png");
}

.rates__item--gold::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-4.png");
}

.rates__item-title {
  font-size: 64px;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 53px;
  color: #231f20;
}

.rates__item-subtitle {
  color: #fff;
}

.rates__item-time,
.rates__item-price {
  font-size: 36px;
  line-height: 1.36;
}

.rates__item-link {
  display: block;
  margin-top: 100px;
  margin-right: -40px;
  margin-bottom: -40px;
  margin-left: auto;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 54%;
  background-color: #231f20;
  padding: 25px;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.rates__item-link:hover {
  background-color: #001e42;
}

.rates__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rates__more-text {
  font-size: 42px;
  line-height: 1.17;
  margin-right: 10px;
}

.rates__more-link {
  letter-spacing: 0.01em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7e461;
  width: 23%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.rates__more-link:hover {
  background-color: #e0c50b;
}

.extra {
  padding-top: 139px;
}

.accordion {
  border-top: 1px solid #231f20;
}

.accordion__item {
  padding: 30px 0;
  border-bottom: 1px solid #231f20;
}

.accordion__title {
  font-size: 64px;
  line-height: 1.17;
  margin: 0;
  padding-right: 90px;
  display: block;
  position: relative;
  cursor: pointer;
}

.accordion__title::after {
  position: absolute;
  content: "";
  right: 30px;
  top: 0;
  width: 44px;
  height: 53px;
  background-image: url("/images/arrow-down.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accordion__title:hover::after {
  background-image: url("/images/arrow-down-hover.svg");
}

.accordion__list-item {
  font-size: 20px;
  line-height: 1.36;
  text-transform: uppercase;
}

.accordion__list-item + .accordion__list-item {
  margin-top: 30px;
}

.accordion__list-subtitle {
  display: block;
  margin-top: 10px;
  text-transform: none;
}

.accordion__link {
  display: block;
  width: 22%;
  margin-top: 30px;
  padding: 25px;
  text-align: center;
  background-color: #f7e461;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accordion__link:hover {
  background-color: #e0c50b;
}

.accordion__text {
  display: none;
}

.accordion__item--active .accordion__text {
  display: block;
  margin-top: 18px;
}

.accordion__item--active .accordion__title::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.accordion__item--active .accordion__title:hover {
  cursor: default;
}

.accordion__item--active .accordion__title:hover::after {
  background-image: url("/images/arrow-down.svg");
}

.feedback {
  padding-top: 83px;
}

.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid rgba(35, 31, 32, 0.5);
  border-right: 1px solid rgba(35, 31, 32, 0.5);
  border-bottom: 1px solid rgba(35, 31, 32, 0.5);
  padding: 12px 20px;
  width: 100%;
  text-align-last: left;
}

.rating__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-basis: 32%;
      -ms-flex-preferred-size: 32%;
          flex-basis: 32%;
}

.rating__img--google {
  border: 1px solid #3c79e6;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#cf2d48), color-stop(#eb4132), color-stop(#fbbd00), color-stop(#31aa52), color-stop(#0f9d58), to(#3c79e6));
  -webkit-border-image: -webkit-linear-gradient(left top, #cf2d48, #eb4132, #fbbd00, #31aa52, #0f9d58, #3c79e6);
       -o-border-image: -o-linear-gradient(left top, #cf2d48, #eb4132, #fbbd00, #31aa52, #0f9d58, #3c79e6);
          border-image: -webkit-gradient(linear, left top, right bottom, from(#cf2d48), color-stop(#eb4132), color-stop(#fbbd00), color-stop(#31aa52), color-stop(#0f9d58), to(#3c79e6));
          border-image: linear-gradient(to right bottom, #cf2d48, #eb4132, #fbbd00, #31aa52, #0f9d58, #3c79e6);
  border-image-slice: 1;
}

.rating__img--yandex {
  border: 1px solid #d7143a;
}

.rating__img--zoon {
  border: 1px solid rgba(35, 31, 32, 0.5);
}

.rating__img {
  padding: 14px 15px;
  width: 32%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating__number {
  font-size: 64px;
  line-height: 1.17;
}

.rating__number--yandex {
  color: #f7e461;
}

.rating__number--google {
  color: #1d77e5;
}

.rating__text {
  font-size: 18px;
  line-height: 1.53;
  margin-left: 15px;
}

.rating__link {
  text-decoration: underline;
}

.rating__link:hover {
  color: #1d77e5;
}

.feedback__items {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item {
  -webkit-flex-basis: 44%;
      -ms-flex-preferred-size: 44%;
          flex-basis: 44%;
  -webkit-flex-shrink: inherit;
      -ms-flex-negative: inherit;
          flex-shrink: inherit;
  border: 1px solid rgba(35, 31, 32, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author__img {
  width: 129px;
  height: 129px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
}

.item-feedback__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px 0;
  margin-bottom: 37px;
  position: relative;
}

.item-feedback__link {
  position: absolute;
  left: 40px;
  top: 40px;
}

.rate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  line-height: 100%;
  position: absolute;
  right: 40px;
  top: 40px;
}

.rate__number {
  margin-left: 8px;
}

.author__name {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.item-feedback__text {
  font-size: 16px;
  line-height: 1.53;
}

.item-feedback__main {
  padding: 0 40px;
  margin-bottom: 90px;
}

.item-feedback__bottom {
  text-align: center;
  display: block;
  margin-top: auto;
}

.feedback__link {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fff;
  display: block;
  padding: 25px 0;
}

.feedback__link--facebook {
  background-color: #1d77e5;
}

.feedback__link--yandex {
  background-color: #d7143a;
}

.about {
  padding-top: 90px;
}

.about__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 58px;
  line-height: 1.36;
  text-align: center;
}

.about__list {
  font-size: 30px;
  line-height: 1.54;
  margin-top: 50px;
}

.about__list-item + .about__list-item {
  margin-top: 1.54em;
}

.player {
  position: relative;
}

.player__video {
  z-index: 1;
  width: 100%;
}

.player__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  z-index: 120;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 30px;
}

.player__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.player__btn:focus {
  outline: 1px solid rgba(35, 31, 32, 0.1);
}

.player__pause {
  width: 48px;
  height: 48px;
  background-image: url("/images/player-pause.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  margin-right: 20px;
}

.player__play {
  width: 48px;
  height: 48px;
  background-image: url("/images/player-play.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  margin-right: 20px;
}

.player__time {
  margin-right: 20px;
  font-size: 18px;
  width: 70px;
}

.player__duration {
  margin-left: 20px;
  font-size: 18px;
}

.player__progress {
  width: 100%;
  height: 5px;
  background-color: rgba(35, 31, 32, 0.4);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.player__filled {
  position: absolute;
  height: 11px;
  background-color: #231f20;
  width: 0;
  top: -3px;
  left: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.player__more {
  margin-left: auto;
}

.clients {
  padding-top: 80px;
}

.clients__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 0.5px solid rgba(35, 31, 32, 0.5);
  border-left: 0.5px solid rgba(35, 31, 32, 0.5);
}

.clients__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 110px 40px;
  border-right: 0.5px solid rgba(35, 31, 32, 0.5);
  border-bottom: 0.5px solid rgba(35, 31, 32, 0.5);
}

.clients__more-img {
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.clients__item-link {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  padding: 110px 20px;
  background-color: #f7e461;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.clients__item--hidden {
  display: none;
}

.clients__item-link--hidden {
  display: none;
}

.contacts {
  padding-top: 90px;
  padding-bottom: 80px;
}

.contacts__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info-contacts__city {
  font-size: 144px;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 8px;
}

.info-contacts__phone,
.info-contacts__email,
.info-contacts__working-hours {
  font-size: 64px;
}

.info-contacts__phone,
.info-contacts__email {
  margin-bottom: 20px;
}

.info-contacts__phone:hover,
.info-contacts__email:hover {
  color: #1d77e5;
}

.addresses {
  margin-top: 120px;
}

.addresses__list-item {
  font-size: 24px;
  line-height: 1.25;
  margin-left: 10px;
  margin-right: 100px;
  position: relative;
  display: block;
}

.addresses__list-item + .addresses__list-item {
  margin-top: 80px;
  display: block;
}

.addresses__list-address {
  display: block;
  padding-top: 27px;
}

.addresses__list-item:hover {
  color: #1d77e5;
}

.addresses__list-number {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #231f20;
  font-size: 96px;
  line-height: 1.25;
  position: absolute;
  left: -16px;
  top: -47px;
}

.social {
  margin-top: 100px;
}

.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__list-item {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #231f20;
  font-size: 36px;
}

.social__list-item:hover {
  color: #231f20;
  -webkit-text-fill-color: #231f20;
}

.contacts-2 {
  border-top: 1px solid #231f20;
  border-bottom: 1px solid #231f20;
  padding: 50px 0;
}

.form-contacts {
  padding: 50px 112px 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-right: auto;
}

.contacts-2__wrapper {
  background-color: rgba(255, 255, 255, 0.3);
}

.contacts-2__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-contacts__title {
  font-size: 48px;
  margin: 0;
  margin-bottom: 16px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.form-contacts__input,
.form-contacts__textarea {
  padding: 20px 30px;
  background-color: transparent;
  border: 1px solid #231f20;
  font-size: 16px;
  line-height: 1;
  color: #231f20;
}

.form-contacts__input::-webkit-input-placeholder,
.form-contacts__textarea::-webkit-input-placeholder {
  color: #231f20;
}

.form-contacts__input:-ms-input-placeholder,
.form-contacts__textarea:-ms-input-placeholder {
  color: #231f20;
}

.form-contacts__input::-ms-input-placeholder,
.form-contacts__textarea::-ms-input-placeholder {
  color: #231f20;
}

.form-contacts__input::placeholder,
.form-contacts__textarea::placeholder {
  color: #231f20;
}

.form-contacts__input--name {
  width: 100%;
  margin-bottom: 20px;
}

.form-contacts__input--phone {
  width: 48%;
}

.form-contacts__input--email {
  width: 48%;
}

.form-contacts__textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: none;
  height: 230px;
}

.form-contacts__btn {
  width: 48%;
  padding: 20px;
  border: none;
  background-color: #1d77e5;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.form-contacts__btn:hover {
  background-color: #0d5ab9;
}

.form-contacts__text {
  width: 48%;
  text-align: right;
  font-size: 16px;
  line-height: 1.3;
}

.form-contacts__link {
  color: #1d77e5;
}

.form-contacts__link:hover {
  text-decoration: underline;
}

.map {
  background-color: #fff;
}

.footer {
  padding: 90px 0 55px;
  font-size: 16px;
  line-height: 1.25;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 10px;
}

.footer__link {
  margin: 0 10px;
  text-align: center;
}

.footer__policy {
  color: #1d77e5;
  text-align: right;
}

.footer__link:hover,
.footer__policy:hover {
  text-decoration: underline;
}
