body {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("/fonts/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noah-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Noah-Regular.woff2") format("woff2"), url("/fonts/Noah-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noah-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Noah-Bold.woff2") format("woff2"), url("/fonts/Noah-Bold.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/CeraPro-Medium.woff2") format("woff2"), url("/fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
