body {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.top-header__address, .top-header__contacts-list {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("/fonts/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noah-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Noah-Regular.woff2") format("woff2"), url("/fonts/Noah-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noah-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Noah-Bold.woff2") format("woff2"), url("/fonts/Noah-Bold.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/CeraPro-Medium.woff2") format("woff2"), url("/fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  line-height: 21px;
  color: #231f20;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 35px;
}

.top-header__address {
  padding-left: 45px;
  padding-right: 18px;
  position: relative;
  font-size: 14px;
  line-height: 17px;
}

.top-header__address::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 33px;
  top: -webkit-calc(50% - 16px);
  top: calc(50% - 16px);
  left: 0;
  background-image: url("/images/pin.svg");
}

.top-header__address::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  top: -webkit-calc(50% - 3px);
  top: calc(50% - 3px);
  right: 0;
  background-image: url("/images/select.svg");
}

.top-header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__contacts-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  line-height: 17px;
  margin-left: 18px;
}

.top-header__whatsapp {
  margin-right: 18px;
}

.top-header__callback svg path {
  fill: linear-gradient(131.58deg, #62a9ff 16.37%, #338bf8 39.03%, #1d77e5 82.29%);
}

.top-header__logo {
  margin: 0 10px;
}

.top-header__email {
  margin-bottom: 5px;
}

.top-header__email:hover,
.top-header__phone:hover {
  color: #1d77e5;
}

#paint0_linear {
  --x1-w: 4.95215;
  --y1-w: 7.33333;
  --x2-w: 28.6188;
  --y1-w: 28.3333;
}

.w-p {
  fill: #59ff6a !important;
}

.ws-1 {
  --wsc1: #91ff9c;
  --wso1: 0;
}

.ws-2 {
  --wsc2: #58ff69;
  --wso2: 0.510417;
}

.ws-3 {
  --wsc3: #61f770;
  --wso3: 1;
}

.top-header__whatsapp:hover #paint0_linear {
  --x1-w: 4;
  --y1-w: 7.33333;
  --x2-w: 27.6667;
  --y1-w: 28.3333;
}

.top-header__whatsapp:hover .w-p {
  fill: #00b713 !important;
}

.top-header__whatsapp:hover .ws-1 {
  --wsc1: #91ff9c;
  --wso1: 0.34375;
}

.top-header__whatsapp:hover .ws-2 {
  --wsc2: #1ae82f;
  --wso2: 0.510417;
}

.top-header__whatsapp:hover .ws-3 {
  --wsc3: #00b713;
  --wso3: 1;
}
