@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @extend %roboto-light;
  font-size: 18px;
  line-height: 1.17;
  color: $lightblack;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  @extend %title;
}

.subtitle {
  @extend %subtitle;
}

.subtitle--blue {
  @extend %subtitle--blue;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 25px;
}

.address-list__item {
  position: relative;
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 17px;
}

.address-list__link {
  padding-left: 45px;
  padding-right: 18px;
  z-index: 100;
}

.address-dropdown__link {
  padding-left: 55px;
  padding-right: 63px;
}

.address-list__link:hover {
  z-index: 10;
  color: $blue;
}

.address-list__item::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 33px;
  top: calc(50% - 16px);
  left: 0;
  background-image: url("/images/pin.svg");
}
.address-list__item::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  top: calc(50% - 5px);
  right: 0;
  background-image: url("/images/dropdown-right.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: -1;
}

.address-list {
  position: relative;
  z-index: 1;
}

.address-list:hover::before,
.address-list:focus-within::before {
  position: absolute;
  content: "";
  left: -10px;
  right: -10px;
  top: -15px;
  bottom: 0;
  background-color: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  height: 90px;
}

.address-list:hover .address-list__item::after,
.address-list:focus-within .address-list__item::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.address-list__item {
  position: relative;
  z-index: 1;
}

.address-dropdown {
  display: none;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -45px;
}

.address-dropdown__item {
  position: relative;
}
.address-dropdown__item::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #fff;
  top: -12px;
  left: 0px;
  right: 0px;
}

.address-list:hover .address-dropdown {
  display: block;
}

.address-list:focus-within .address-dropdown {
  display: block;
}

.address-list__item {
  z-index: 1;
}

.top-header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  margin-left: 18px;
}

.top-header__whatsapp {
  margin-right: 18px;
}
.top-header__logo {
  margin: 0 10px;
}

.top-header__email {
  margin-bottom: 5px;
}

.top-header__email,
.top-header__phone {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__email:hover,
.top-header__phone:hover {
  color: $blue;
}

.top-header__whatsapp {
  width: 34px;
  height: 34px;
  background-image: url("/images/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__whatsapp:hover {
  background-image: url("/images/whatsapp-hover.svg");
}

.top-header__callback {
  width: 34px;
  height: 34px;
  background-image: url("/images/callback.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__callback:hover {
  background-image: url("/images/callback-hover.svg");
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %montserrat-medium;
  font-size: 16px;
  line-height: 20px;
  color: #727070;
  text-transform: uppercase;
}

.nav-list__item + .nav-list__item {
  margin-left: 5px;
}

.nav-list__item {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  position: relative;
  z-index: 60;
}

.nav-list__link {
  padding: 10px 0;
  z-index: 60;
  display: block;
}

.nav-list__link:hover {
  color: $blue;
  text-decoration: underline;
}

.nav-list__item--dropdown {
  position: relative;
}

.nav-list__link--dropdown {
  padding-right: 18px;
}

.nav-list__item--dropdown::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  top: 14px;
  right: 0;
  background-image: url("/images/dropdown-right.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: -1;
}

.dropdown-navlist {
  display: none;
  position: absolute;
  top: 35px;
  bottom: -75px;
  left: -10px;
  right: -150px;
  z-index: 60;
  background: #eeeeee;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.dropdown-navlist--shin {
  bottom: -115px;
}

.nav-list__item--dropdown:hover,
.nav-list__item--dropdown:focus-within {
  .dropdown-navlist {
    display: block;
  }
}
.nav-list__item--dropdown:hover::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.dropdown-navlist__link {
  text-transform: none;
  @extend %montserrat-regular;
  font-size: 14px;
  display: block;
  padding: 10px;
}

.dropdown-navlist__item {
  position: relative;
}

.dropdown-navlist__item::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.dropdown-navlist__item:first-child:before {
  height: 0;
}

.main {
  margin-top: 50px;
  padding-top: 44px;
  margin-bottom: 158px;
  padding-bottom: 158px;
  position: relative;
  background-image: url("/images/main-img.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}

.main::before {
  position: absolute;
  content: "";
  width: 165px;
  height: 170px;
  bottom: 20%;
  left: -5%;
  background-image: url("/images/main-item-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}
.main::after {
  position: absolute;
  content: "";
  width: 265px;
  height: 265px;
  right: -128px;
  background-image: url("/images/main-item-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.main__text {
  position: relative;
  background: rgba(#efefef, 0.6);
  backdrop-filter: blur(35px);
  width: 54%;
  margin-right: auto;
  z-index: 10;
  padding-left: 8.4em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main__title {
  @extend %noah-bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 87px;
  color: $blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 560px;
}

.main__subtitle {
  font-size: 80px;
  line-height: 84px;
  color: $lightblack;
}

.main__subtitle--blue {
  margin-top: 22px;
  color: #fff;
  background-color: $blue;
  padding: 5px 20px;
  position: relative;
}

.main__subtitle--blue::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -195px;
  width: 232px;
  height: 100%;
  background-image: url("/images/main-title-bg.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main__button {
  padding: 20px 5px;
  text-align: center;
  @extend %roboto-medium;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  display: block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.main__button--order {
  background-color: $blue;
  color: #fff;
  width: 50%;
  border: 3px solid $blue;
}

.main__button--order:hover {
  background-color: #0d5ab9;
  border: 3px solid #0d5ab9;
}

.main__button--calc {
  background-color: #fff;
  width: 50%;
  border: 3px solid #fff;
}

.main__button--calc:hover {
  color: $blue;
  border: 3px solid $blue;
}

.features__inner {
  padding-bottom: 100px;
  background-image: url("/images/features-bg.svg");
  background-repeat: no-repeat;
  background-size: 485px 299px;
  background-position: 100% 95%;
}

.features__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-top: 0.5px solid rgba($lightblack, 0.5);
  border-left: 0.5px solid rgba($lightblack, 0.5);
}

.features__item {
  border-right: 0.5px solid rgba($lightblack, 0.5);
  border-bottom: 0.5px solid rgba($lightblack, 0.5);
  padding: 30px;
}

.features__item-img {
  width: 80px;
  height: 80px;
}

.features__item-title {
  @extend %noah-bold;
  font-size: 24px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 0;
}

.features__item-subtitle {
  margin-top: 15px;
  display: block;
  @extend %roboto-light;
  font-size: 18px;
  line-height: 21px;
}

.promo__inner {
  background-image: url("/images/promo-bg.svg");
  background-position: 87% 70%;
  background-size: 75% 89%;
  background-repeat: no-repeat;
}
.promo__items {
  display: flex;
  width: 80%;
  margin-right: auto;
  align-items: flex-start;
  justify-content: center;
}

.promo__title {
  margin: 0;
  margin-top: 27px;
  font-size: 64px;
  line-height: 57px;
  max-width: 480px;
  @extend %noah-bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $lightblack;
}

.promo__left,
.promo__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.promo__left {
  margin-right: 27px;
}

.promo__left-img {
  height: 346px;
  overflow: hidden;
}

.promo__right-img {
  overflow: hidden;
}

.promo__right-img:first-child {
  margin-bottom: 27px;
  height: 265px;
}
.promo__right-img:nth-child(2) {
  height: 318px;
}

.services {
  padding-top: 100px;
}

.services__title {
  margin-bottom: 80px;
}

.services__description {
  @extend %noah-regular;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 56px;
  line-height: 1.3;
  margin-bottom: 21px;
}

.services__description-img {
  display: inline-block;
  margin-bottom: -10px;
}

.services__items-title {
  font-size: 114px;
  line-height: 1.17;
  text-align: center;
  @extend %noah-bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $lightblack;
  margin: 0;
  margin-bottom: -40px;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  flex-basis: 49%;
  overflow: hidden;
}
.services__item-title {
  @extend %noah-bold;
  font-size: 48px;
  line-height: 1.17;
  margin: 33px 0 50px;
}

.services__item-subtitle {
  @extend %roboto-light;
  display: block;
  font-size: 24px;
  line-height: 1.17;
  margin-top: 15px;
}

.services__img {
  overflow: hidden;
}
.services__img img {
  height: 446px;
}

.rates__title {
  margin-bottom: 20px;
}

.rates__info {
  font-size: 20px;
  line-height: 1.4;
  @extend %montserrat-regular;
}

.rates__info--underline {
  position: relative;
}
.rates__info--underline::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $lightblack;
}

.rates__items {
  margin-top: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 60px;
}

.rates__item {
  text-align: right;
  padding: 40px;
  color: #fff;
  position: relative;
}

.rates__item--express {
  background-color: $blue;
}
.rates__item--bronze {
  background-color: #b26456;
}
.rates__item--silver {
  background-color: #858585;
}
.rates__item--gold {
  background-color: #cf9e44;
}

.rates__item--express::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-1.png");
}
.rates__item--bronze::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-2.png");
}
.rates__item--silver::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-3.png");
}
.rates__item--gold::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-4.png");
}

.rates__item-title {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 53px;
  color: $lightblack;
}

.rates__item-subtitle {
  color: #fff;
}

.rates__item-time,
.rates__item-price {
  @extend %roboto-light;
  font-size: 36px;
  line-height: 1.36;
}
.rates__item-text {
  @extend %roboto-medium;
}

.rates__item-link {
  display: block;
  margin-top: 100px;
  margin-right: -40px;
  margin-bottom: -40px;
  margin-left: auto;
  @extend %roboto-medium;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 54%;
  background-color: $lightblack;
  padding: 25px;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.rates__item-link:hover {
  background-color: #001e42;
}

.rates__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates__more-text {
  @extend %noah-bold;
  font-size: 42px;
  line-height: 1.17;
  margin-right: 10px;
}

.rates__more-link {
  @extend %roboto-medium;
  letter-spacing: 0.01em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: $yellow;
  width: 23%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.rates__more-link:hover {
  background-color: #e0c50b;
}

.extra {
  padding-top: 139px;
}

.accordion {
  border-top: 1px solid $lightblack;
}

.accordion__item {
  padding: 30px 0;
  border-bottom: 1px solid $lightblack;
}

.accordion__title {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 1.17;
  margin: 0;
  padding-right: 90px;
  display: block;
  position: relative;
  cursor: pointer;
}

.accordion__title::after {
  position: absolute;
  content: "";
  background-image: url("/images/arrow-down.svg");
  right: 30px;
  top: 0;
  width: 44px;
  height: 53px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accordion__title:hover::after {
  background-image: url("/images/arrow-down-hover.svg");
}

.accordion__list-item {
  @extend %roboto-medium;
  font-size: 20px;
  line-height: 1.36;
  text-transform: uppercase;
}

.accordion__list-item + .accordion__list-item {
  margin-top: 30px;
}

.accordion__list-subtitle {
  display: block;
  @extend %roboto-light;
  margin-top: 10px;
  text-transform: none;
}

.accordion__link {
  display: block;
  width: 22%;
  margin-top: 30px;
  padding: 25px;
  text-align: center;
  background-color: $yellow;
  @extend %roboto-medium;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accordion__link:hover {
  background-color: #e0c50b;
}

.accordion__text {
  display: none;
}

.accordion__item--active {
  .accordion__text {
    display: block;
    margin-top: 18px;
  }
  .accordion__title::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .accordion__title:hover {
    cursor: default;
  }
  .accordion__title:hover::after {
    background-image: url("/images/arrow-down.svg");
  }
}

.feedback {
  padding-top: 80px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid rgba($lightblack, 0.5);
  border-right: 1px solid rgba($lightblack, 0.5);
  border-bottom: 1px solid rgba($lightblack, 0.5);
  padding: 12px 20px;
  width: 100%;
  text-align-last: left;
}

.rating__item {
  display: flex !important;
  justify-content: stretch;
  align-items: stretch;
  flex-basis: 32%;
}

.rating__img--google {
  border: 1px solid #3c79e6;
  border-image: linear-gradient(
    to right bottom,
    #cf2d48,
    #eb4132,
    #fbbd00,
    #31aa52,
    #0f9d58,
    #3c79e6
  );
  border-image-slice: 1;
}

.rating__img--yandex {
  border: 1px solid #d7143a;
}

.rating__img--zoon {
  border: 1px solid rgba($lightblack, 0.5);
}

.rating__img {
  padding: 14px 15px;
  width: 32%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating__number {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 1.17;
}

.rating__number--yandex {
  color: $yellow;
}
.rating__number--google {
  color: $blue;
}

.rating__text {
  @extend %montserrat-regular;
  font-size: 18px;
  line-height: 1.53;
  margin-left: 15px;
}
.rating__link {
  color: $blue;
}

.rating__link:hover {
  text-decoration: underline;
}

.feedback__items {
  margin-top: 45px;
}

.feedback__item {
  margin-right: 20px;
  flex-shrink: inherit;
  border: 1px solid rgba($lightblack, 0.5);
  display: flex !important;
  flex-direction: column;
  justify-items: stretch;
  align-content: stretch;
  position: relative;
}

#slider-3.slick-list,
#slider-4.slick-list {
  padding: 0 150px 0 0;
}

.slick-list,
.slick-track {
  display: flex;
  align-items: stretch;
}

.slick-next:before {
  width: 87px;
  height: 87px;
  content: url("/images/arrow-right.svg");
  opacity: 1;
}
.slick-prev:before {
  width: 87px;
  height: 87px;
  content: url("/images/arrow-left.svg");
  opacity: 1;
}

.slick-prev {
  left: unset;
  right: 3%;
  top: calc(50% + 60px);
}

.slick-next {
  right: 3%;
  top: calc(50% - 60px);
}
.slick-arrow {
  z-index: 100;
  background-color: $yellow;
  width: 87px;
  height: 87px;
  box-shadow: 2px 2px 15px #f3d534;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.slick-arrow:hover {
  background-color: rgba($yellow, 0.9);
}

.slick-arrow:focus {
  background-color: $yellow;
}

.author__img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin: 0 auto;
}

.author__img img {
  width: 100%;
}

.item-feedback__top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 40px 0;
  margin-bottom: 35px;
  position: relative;
}

.item-feedback__link {
  position: absolute;
  left: 40px;
  top: 40px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 100%;
  @extend %noah-bold;
  position: absolute;
  right: 40px;
  top: 40px;
}

.rate__number {
  margin-left: 8px;
}

.rate__star {
  width: 40px;
}

.author__name {
  @extend %noah-bold;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.item-feedback__text {
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 1.53;
  position: relative;
  padding: 0 40px;
  margin: 0;
  margin-bottom: 55px;
}

.item-feedback__text--fb::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 27px;
  top: -35px;
  left: 40px;
  background-image: url("/images/left-quote-fb.svg");
}
.item-feedback__text--fb::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 27px;
  bottom: -35px;
  right: 40px;
  background-image: url("/images/right-quote-fb.svg");
}
.item-feedback__text--ya::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 27px;
  top: -35px;
  left: 40px;
  background-image: url("/images/left-quote-yandex.svg");
}
.item-feedback__text--ya::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 27px;
  bottom: -35px;
  right: 40px;
  background-image: url("/images/right-quote-yandex.svg");
}

.item-feedback__text .item-feedback__main {
  padding: 0 40px;
  margin-bottom: 90px;
}

.item-feedback__bottom {
  text-align: center;
  margin-top: auto;
}

.feedback__link {
  @extend %montserrat-semibold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fff;
  display: block;
  padding: 25px 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.feedback__link--facebook {
  background-color: $blue;
}
.feedback__link--yandex {
  background-color: #d7143a;
}
.feedback__link--facebook:hover {
  background-color: #0d5ab9;
}
.feedback__link--yandex:hover {
  background-color: #b11030;
}

.about {
  padding-top: 90px;
}

.about__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  @extend %noah-bold;
  font-size: 58px;
  line-height: 1.36;
  text-align: center;
}

.about__list {
  @extend %montserrat-regular;
  font-size: 30px;
  line-height: 1.54;
  margin-top: 50px;
}

.about__list-item + .about__list-item {
  margin-top: 1.54em;
}

.player {
  position: relative;
}

.player__video {
  z-index: 1;
  width: 100%;
}

.player__controls {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  z-index: 120;
  background-color: rgba(#fff, 0.45);
  padding: 30px;
}

.player__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.player__btn:focus {
  outline: 1px solid rgba($lightblack, 0.1);
}

.player__pause {
  width: 48px;
  height: 48px;
  background-image: url("/images/player-pause.svg");
  background-size: 100% 100%;
  margin-right: 20px;
}

.player__play {
  width: 48px;
  height: 48px;
  background-image: url("/images/player-play.svg");
  background-size: 100% 100%;
  margin-right: 20px;
}

.player__time {
  margin-right: 20px;
  @extend %montserrat-regular;
  font-size: 18px;
  width: 70px;
}

.player__duration {
  margin-left: 20px;
  @extend %montserrat-regular;
  font-size: 18px;
}

.player__progress {
  width: 100%;
  height: 5px;
  background-color: rgba($lightblack, 0.4);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.player__filled {
  position: absolute;
  height: 11px;
  background-color: $lightblack;
  width: 0;
  top: -3px;
  left: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.player__more {
  margin-left: auto;
}

.clients {
  padding-top: 80px;
}

.clients__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 0.5px solid rgba($lightblack, 0.5);
  border-left: 0.5px solid rgba($lightblack, 0.5);
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 40px;
  border-right: 0.5px solid rgba($lightblack, 0.5);
  border-bottom: 0.5px solid rgba($lightblack, 0.5);
}

.clients__more-img {
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}

.clients__item-link {
  @extend %roboto-medium;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  padding: 110px 20px;
  background-color: $yellow;
  flex-direction: column;
  border: none;
}

.clients__item--hidden {
  display: none;
}

.clients__item-link--hidden {
  display: none;
}

.contacts {
  padding-top: 90px;
  padding-bottom: 80px;
}

.contacts__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-contacts {
  @extend %noah-bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.info-contacts__city {
  font-size: 144px;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 8px;
}

.info-contacts__phone,
.info-contacts__email,
.info-contacts__working-hours {
  font-size: 64px;
}

.info-contacts__phone,
.info-contacts__email {
  margin-bottom: 20px;
}

.info-contacts__phone:hover,
.info-contacts__email:hover {
  color: $blue;
}

.addresses {
  margin-top: 120px;
}

.addresses__list-item {
  @extend %cerapro-medium;
  font-size: 24px;
  line-height: 1.25;
  margin-left: 10px;
  margin-right: 100px;
  position: relative;
  display: block;
}
.addresses__list-item + .addresses__list-item {
  margin-top: 80px;
  display: block;
}

.addresses__list-address {
  display: block;
  @extend %roboto-regular;
  padding-top: 27px;
}

.addresses__list-item:hover {
  color: $blue;
}

.addresses__list-number {
  @extend %noah-bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $lightblack;
  font-size: 96px;
  line-height: 1.25;
  position: absolute;
  left: -16px;
  top: -47px;
}

.social {
  margin-top: 100px;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__list-item {
  @extend %noah-bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $lightblack;
  font-size: 36px;
}

.social__list-item:hover {
  color: $lightblack;
  -webkit-text-fill-color: $lightblack;
}

.contacts-2 {
  border-top: 1px solid $lightblack;
  border-bottom: 1px solid $lightblack;
  padding: 50px 0;
}

.form-contacts {
  padding: 50px 112px 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-right: auto;
}

.contacts-2__wrapper {
  background-color: rgba(#fff, 0.3);
}

.contacts-2__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-contacts__title {
  @extend %noah-bold;
  font-size: 48px;
  margin: 0;
  margin-bottom: 16px;
  flex-basis: 100%;
}

.form-contacts__input,
.form-contacts__textarea {
  padding: 20px 30px;
  background-color: transparent;
  border: 1px solid $lightblack;
  @extend %cerapro-regular;
  font-size: 16px;
  line-height: 1;
  color: $lightblack;
}

.form-contacts__input::placeholder,
.form-contacts__textarea::placeholder {
  color: $lightblack;
}
.form-contacts__input--name {
  width: 100%;
  margin-bottom: 20px;
}

.form-contacts__input--phone {
  width: 48%;
}

.form-contacts__input--email {
  width: 48%;
}

.form-contacts__textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: none;
  height: 230px;
}

.form-contacts__btn {
  width: 48%;
  padding: 20px;
  border: none;
  @extend %roboto-medium;
  background-color: $blue;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.form-contacts__btn:hover {
  background-color: #0d5ab9;
}

.form-contacts__text {
  width: 48%;
  text-align: right;
  @extend %cerapro-regular;
  font-size: 16px;
  line-height: 1.3;
}

.form-contacts__link {
  color: $blue;
}

.form-contacts__link:hover {
  text-decoration: underline;
}

.map {
  background-color: #fff;
}

.footer {
  padding: 90px 0 55px;
  @extend %montserrat-regular;
  font-size: 16px;
  line-height: 1.25;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.footer__link {
  margin: 0 10px;
  text-align: center;
}

.footer__policy {
  color: $blue;
  text-align: right;
}
.footer__link:hover,
.footer__policy:hover {
  text-decoration: underline;
}

@import "media";
