@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @extend %roboto-light;
  font-size: 18px;
  line-height: 1.17;
  color: $lightblack;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  @extend %title;
}

.subtitle {
  @extend %subtitle;
}

.subtitle--blue {
  @extend %subtitle--blue;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 35px;
}

.top-header__address {
  padding-left: 45px;
  padding-right: 18px;
  position: relative;
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 17px;
}

.top-header__address::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 33px;
  top: calc(50% - 16px);
  left: 0;
  background-image: url("/images/pin.svg");
}
.top-header__address::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  top: calc(50% - 3px);
  right: 0;
  background-image: url("/images/select.svg");
}

.top-header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  margin-left: 18px;
}

.top-header__whatsapp {
  margin-right: 18px;
}

.top-header__callback svg path {
  fill: linear-gradient(
    131.58deg,
    #62a9ff 16.37%,
    #338bf8 39.03%,
    #1d77e5 82.29%
  );
}

.top-header__logo {
  margin: 0 10px;
}

.top-header__email {
  margin-bottom: 5px;
}

.top-header__email,
.top-header__phone {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.top-header__email:hover,
.top-header__phone:hover {
  color: $blue;
}

.top-header__whatsapp {
  width: 34px;
  height: 34px;
  background-image: url("/images/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-header__whatsapp:hover {
  background-image: url("/images/whatsapp-hover.svg");
}

.top-header__callback {
  width: 34px;
  height: 34px;
  background-image: url("/images/callback.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-header__callback:hover {
  background-image: url("/images/callback-hover.svg");
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %montserrat-medium;
  font-size: 16px;
  line-height: 20px;
  color: #727070;
  text-transform: uppercase;
}

.nav-list__item + .nav-list__item {
  margin-left: 5px;
}

.nav-list__item {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.nav-list__item:hover {
  color: $blue;
  text-decoration: underline;
}

.main {
  padding-top: 59px;
  padding-bottom: 158px;
  position: relative;
}

.main::before {
  position: absolute;
  content: "";
  width: 165px;
  height: 170px;
  bottom: 25%;
  left: -5%;
  background-image: url("/images/main-item-1.png");
  background-repeat: no-repeat;
  z-index: 100;
}
.main::after {
  position: absolute;
  content: "";
  width: 265px;
  height: 265px;
  bottom: 5%;
  right: -22px;
  background-image: url("/images/main-item-2.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__inner {
  position: relative;
}

.main__text {
  background: rgba(#efefef, 0.6);
  backdrop-filter: blur(35px);
  width: 54%;
  height: 80%;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 10;
  padding-left: 8.4em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main__img {
  width: 885px;
  height: 591px;
  display: block;
  margin-left: auto;
}

.main__title {
  @extend %noah-bold;
  font-size: 20px;
  line-height: 25px;
  color: $blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__subtitle {
  font-size: 80px;
  line-height: 84px;
  color: $lightblack;
}

.main__subtitle--blue {
  margin-top: 22px;
  color: #fff;
  background-color: $blue;
  padding: 5px 20px;
  position: relative;
}

.main__subtitle--blue::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -195px;
  width: 232px;
  height: 100%;
  background-image: url("/images/main-title-bg.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.main__buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main__button {
  padding: 20px 5px;
  text-align: center;
  @extend %roboto-medium;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  display: block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.main__button--order {
  background-color: $blue;
  color: #fff;
  width: 50%;
  border: 3px solid $blue;
}

.main__button--order:hover {
  background-color: #0d5ab9;
  border: 3px solid #0d5ab9;
}

.main__button--calc {
  background-color: #fff;
  width: 50%;
  border: 3px solid #fff;
}

.main__button--calc:hover {
  color: $blue;
  border: 3px solid $blue;
}

.features__inner {
  padding-bottom: 100px;
  background-image: url("/images/features-bg.svg");
  background-repeat: no-repeat;
  background-size: 485px 299px;
  background-position: 100% 95%;
}

.features__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-top: 0.5px solid rgba($lightblack, 0.5);
  border-left: 0.5px solid rgba($lightblack, 0.5);
}

.features__item {
  border-right: 0.5px solid rgba($lightblack, 0.5);
  border-bottom: 0.5px solid rgba($lightblack, 0.5);
  padding: 30px;
}

.features__item-img {
  width: 80px;
  height: 80px;
}

.features__item-img {
  margin-bottom: 25px;
}

.features__item-title {
  @extend %noah-bold;
  font-size: 24px;
  line-height: 24px;
}

.features__item-subtitle {
  margin-top: 15px;
  display: block;
  @extend %roboto-light;
  font-size: 18px;
  line-height: 21px;
}

.promo__inner {
  background-image: url("/images/promo-bg.svg");
  background-position: 87% 70%;
  background-size: 75% 89%;
  background-repeat: no-repeat;
}
.promo__items {
  display: flex;
  width: 80%;
  margin-right: auto;
  align-items: flex-start;
  justify-content: center;
}

.promo__title {
  margin: 0;
  margin-top: 27px;
  font-size: 64px;
  line-height: 57px;
  max-width: 480px;
  @extend %noah-bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $lightblack;
}

.promo__left,
.promo__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.promo__left {
  margin-right: 27px;
}

.promo__right-img:first-child {
  margin-bottom: 27px;
}

.services {
  padding-top: 100px;
}

.services__title {
  margin-bottom: 80px;
}

.services__description {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 56px;
  line-height: 1.3;
  margin-bottom: 21px;
}

.services__description-img {
  display: inline-block;
  margin-bottom: -10px;
}

.services__items-title {
  font-size: 114px;
  line-height: 1.17;
  text-align: center;
  @extend %noah-bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $lightblack;
  margin: 0;
  margin-bottom: -40px;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  flex-basis: 49%;
}
.services__item-title {
  @extend %noah-bold;
  font-size: 48px;
  line-height: 1.17;
  margin: 33px 0 50px;
}

.services__item-subtitle {
  @extend %roboto-light;
  display: block;
  font-size: 24px;
  line-height: 1.17;
  margin-top: 15px;
}

.services__img {
  width: 100%;
}

.rates__title {
  margin-bottom: 20px;
}

.rates__info {
  font-size: 20px;
  line-height: 1.4;
  @extend %montserrat-regular;
}

.rates__info--underline {
  position: relative;
}
.rates__info--underline::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $lightblack;
}

.rates__items {
  margin-top: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 60px;
}

.rates__item {
  text-align: right;
  padding: 40px;
  color: #fff;
  position: relative;
}

.rates__item--express {
  background-color: $blue;
}
.rates__item--bronze {
  background-color: #b26456;
}
.rates__item--silver {
  background-color: #858585;
}
.rates__item--gold {
  background-color: #cf9e44;
}

.rates__item--express::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-1.png");
}
.rates__item--bronze::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-2.png");
}
.rates__item--silver::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-3.png");
}
.rates__item--gold::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: -17px;
  width: 278px;
  height: 317px;
  background-image: url("/images/rates-item-4.png");
}

.rates__item-title {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 53px;
  color: $lightblack;
}

.rates__item-subtitle {
  color: #fff;
}

.rates__item-time,
.rates__item-price {
  @extend %roboto-light;
  font-size: 36px;
  line-height: 1.36;
}
.rates__item-text {
  @extend %roboto-medium;
}

.rates__item-link {
  display: block;
  margin-top: 100px;
  margin-right: -40px;
  margin-bottom: -40px;
  margin-left: auto;
  @extend %roboto-medium;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 54%;
  background-color: $lightblack;
  padding: 25px;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.rates__item-link:hover {
  background-color: #001e42;
}

.rates__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates__more-text {
  @extend %noah-bold;
  font-size: 42px;
  line-height: 1.17;
  margin-right: 10px;
}

.rates__more-link {
  @extend %roboto-medium;
  letter-spacing: 0.01em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: $yellow;
  width: 23%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.rates__more-link:hover {
  background-color: #e0c50b;
}

.extra {
  padding-top: 139px;
}

.accordion {
  border-top: 1px solid $lightblack;
}

.accordion__item {
  padding: 30px 0;
}

.accrordion__title {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 18px;
  padding-right: 90px;
  display: block;
  position: relative;
  cursor: pointer;
}

.accrordion__title::after {
  position: absolute;
  content: "";
  right: 30px;
  top: 0;
  width: 44px;
  height: 53px;
  background-image: url("/images/arrow-top.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accrordion__title:hover::after {
  background-image: url("/images/arrow-top-hover.svg");
}

.accordion__list-item {
  @extend %roboto-medium;
  font-size: 20px;
  line-height: 1.36;
  text-transform: uppercase;
}

.accordion__list-item + .accordion__list-item {
  margin-top: 30px;
}

.accordion__list-subtitle {
  display: block;
  @extend %roboto-light;
  margin-top: 10px;
  text-transform: none;
}

.accordion__link {
  display: block;
  width: 22%;
  margin-top: 30px;
  padding: 25px;
  text-align: center;
  background-color: $yellow;
  @extend %roboto-medium;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accordion__link:hover {
  background-color: #e0c50b;
}

@import "media";
