@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  @extend %roboto-light;
  font-size: 18px;
  line-height: 21px;
  color: $lightblack;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 35px;
}

.top-header__address {
  padding-left: 45px;
  padding-right: 18px;
  position: relative;
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 17px;
}

.top-header__address::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 33px;
  top: calc(50% - 16px);
  left: 0;
  background-image: url("/images/pin.svg");
}
.top-header__address::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  top: calc(50% - 3px);
  right: 0;
  background-image: url("/images/select.svg");
}

.top-header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @extend %montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  margin-left: 18px;
}

.top-header__whatsapp {
  margin-right: 18px;
}

.top-header__callback svg path {
  fill: linear-gradient(
    131.58deg,
    #62a9ff 16.37%,
    #338bf8 39.03%,
    #1d77e5 82.29%
  );
}

.top-header__logo {
  margin: 0 10px;
}

.top-header__email {
  margin-bottom: 5px;
}

.top-header__email:hover,
.top-header__phone:hover {
  color: $blue;
}

.top-header__whatsapp {
  width: 34px;
  height: 34px;
  background-image: url("/images/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-header__whatsapp:hover {
  background-image: url("/images/whatsapp-hover.svg");
}

.top-header__callback {
  width: 34px;
  height: 34px;
  background-image: url("/images/callback.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-header__callback:hover {
  background-image: url("/images/callback-hover.svg");
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %montserrat-medium;
  font-size: 16px;
  line-height: 20px;
  color: #727070;
}

.nav-list__item + .nav-list__item {
  margin-left: 5px;
}

.nav-list__item:hover {
  color: $blue;
  text-decoration: underline;
}

.main {
  padding-top: 59px;
}

.main__inner {
  position: relative;
}

.main__text {
  background: rgba(239, 239, 239, 0.6);
  backdrop-filter: blur(35px);
  width: 50%;
  height: 80%;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 10;
}

.main__img {
  width: 885px;
  height: 591px;
  display: block;
  margin-left: auto;
}

@import "media";
