@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  @extend %roboto-light;
  font-size: 18px;
  line-height: 21px;
  color: $lightblack;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "media";
