%opensans-regular {
  font-family: "Open-Sans-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%opensans-semibold {
  font-family: "Open-Sans-Semibold", sans-serif;
  font-style: normal;
  font-weight: 600;
}
%opensans-bold {
  font-family: "Open-Sans-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

$yellow: #f2e185;
$blue: #1d77e7;
