$yellow: #f7e461;
$blue: #1d77e5;
$lightblack: #231f20;

%title {
  @extend %roboto-medium;
  font-size: 16px;
  line-height: 19px;
  color: $blue;
  text-transform: uppercase;
  display: block;
  margin-bottom: 50px;
}

%subtitle {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 75px;
  color: $lightblack;
  text-transform: none;
  display: block;
  margin-top: 10px;
}

%subtitle--blue {
  @extend %noah-bold;
  font-size: 64px;
  line-height: 75px;
  background-color: $blue;
  color: #fff;
  padding: 5px;
  text-transform: none;
}

%roboto-light {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}
%roboto-regular {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%roboto-medium {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}
%montserrat-extralight {
  font-family: "Montserrat-ExtraLight", sans-serif;
  font-style: normal;
  font-weight: 200;
}
%montserrat-regular {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%montserrat-medium {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}
%montserrat-semibold {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
}

%noah-regular {
  font-family: "Noah-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%noah-bold {
  font-family: "Noah-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%cerapro-regular {
  font-family: "CeraPro-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%cerapro-medium {
  font-family: "CeraPro-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

%cerapro-bold {
  font-family: "CeraPro-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}
